<div class="content_h">

<div class="content_c">
<a href="https://protoncloud.web.app/" target='_blank'>
<mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image-1"></div>
      <mat-card-title>Proton Cloud</mat-card-title>
      <mat-card-subtitle>almacenamiento en la nube</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/images/ProtonCloud.png" alt="Proton Cloud">
    <mat-card-content>
      <p>
        Proyecto básico del funcionamiento de un servicio de almacenamiento en la nube como google drive, dropbox, mediafire, etc.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="BUTTON_V">VISITAR</button>
    </mat-card-actions>
  </mat-card>
</a>
</div>

<div class="content_c">
    <a href="http://salamanca.pythonanywhere.com/" target='_blank'>
    <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image-2"></div>
          <mat-card-title>Mask</mat-card-title>
          <mat-card-subtitle>tienda online</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/Mask.png" alt="Mask">
        <mat-card-content>
          <p>
            proyecto en python que muestra el funcionamiento básico de una tienda online.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="BUTTON_V">VISITAR</button>
        </mat-card-actions>
      </mat-card>
    </a>
    </div>


</div>