<mat-tab-group mat-align-tabs="center" class="MAT_DISPLAY_D">
    <mat-tab label="Portofolio">   <app-proyectos class="CONTENT_TAB"></app-proyectos> </mat-tab>
    <mat-tab label="Habilidades">  <div class="CONTENT_TAB">Content 2</div>            </mat-tab>
    <mat-tab label="Contacto">     <app-contact class="CONTENT_TAB"></app-contact>     </mat-tab>
</mat-tab-group>

<mat-tab-group mat-stretch-tabs mat-align-tabs="center" class="MAT_DISPLAY_M">
    <mat-tab label="Portofolio">  <app-proyectos class="CONTENT_TAB"></app-proyectos> </mat-tab>
    <mat-tab label="Habilidades"> <div class="CONTENT_TAB">Content 2</div>            </mat-tab>
    <mat-tab label="Contacto">    <app-contact class="CONTENT_TAB"></app-contact>     </mat-tab>
</mat-tab-group>
 