<div class="content_skills">
<!---->
<div class="CONTEN_SK_TOP">

    <div #CARD_1 class="CARD_BORD COL_A CARD_SIZES">
        <div class="CARD_T"><div> > </div>FRONT END</div>
        <div class="CARD_LIST">
            - HTML5 <br/>
            - JavaScript <br/>
            - TypeScript <br/>
            - CSS3 <br/>
            - SASS <span class="SLASH">_</span>
        </div>
        <div class="BORDER_L"></div> <div class="BORDER_R"></div>
    </div>

    <div #CARD_2 class="CARD_BORD COL_A CARD_SIZES">
        <div class="CARD_T"><div> > </div>BACK END</div>
        <div class="CARD_LIST">
            - PHP <br/>
            - NodeJS <br/>
            - Python <span class="SLASH">_</span>
        </div>
        <div class="BORDER_L"></div> <div class="BORDER_R"></div>
    </div>

    <div #CARD_3 class="CARD_BORD COL_A CARD_SIZES">
        <div class="CARD_T"><div> > </div>FRAMEWORKS</div>
        <div class="CARD_LIST">
            - ReactJS <br/>
            - Angular <br/>
            - Django <br/>
            - Bootstrap <span class="SLASH">_</span>
        </div>
        <div class="CARD_T"><div> > </div>APLICACIONES HIBRIDAS (PWA)</div>
        <div class="CARD_LIST">
            - Ionic <br/>
            - Cordoba <span class="SLASH">_</span>
        </div>
        <div class="BORDER_L"></div> <div class="BORDER_R"></div>
    </div>

    <div #CARD_4 class="CARD_BORD COL_A CARD_SIZES">
        <div class="CARD_T"><div> > </div>APLICACIONES WINDOWS</div>
        <div class="CARD_LIST"> - C# <span class="SLASH">_</span> </div>
        <div class="CARD_T"><div> > </div>CMS</div>
        <div class="CARD_LIST"> - WordPress <span class="SLASH">_</span> </div>
        <div class="CARD_T"><div> > </div>CONTROL DE VERSIONES</div>
        <div class="CARD_LIST"> - Git <span class="SLASH">_</span> </div>
        <div class="BORDER_L"></div> <div class="BORDER_R"></div>
    </div>

    <div #CARD_5 class="CARD_BORD COL_A CARD_SIZES">
        <div class="CARD_T"><div> > </div>BASE DE DATOS</div>
            <div class="CARD_LIST">
            RELACIONALES <br/>
            - Microsoft SQL Server <br/>
            - MySQL <span class="SLASH">_</span> <br/>
                    <br/>
            NO RELACIONALES <br/>
            - MongoDB <br/>
            - Firebase Realtime Database <span class="SLASH">_</span>
            </div>
            <div class="BORDER_L"></div> <div class="BORDER_R"></div>
    </div>        
</div>

<div class="CONTEN_SK_BOTTOM">
    <div #CARD_6 class="CARD_BORD COL_A CARD_SIZES">
        <div class="CARD_T"><div> > </div>ENTORNOS DE DESARROLLO</div>
        <div class="CARD_LIST">
            - Visual Studio Code<br/>
            - Visual Studio 2019 <span class="SLASH">_</span>
        </div>
        <div class="BORDER_L"></div> <div class="BORDER_R"></div>
    </div>

    <div #CARD_7 class="CARD_BORD COL_A CARD_SIZES">
        <div class="CARD_T"><div> > </div>TESTING API REST</div>
        <div class="CARD_LIST">
            - Postman <span class="SLASH">_</span>
        </div>
        <div class="BORDER_L"></div> <div class="BORDER_R"></div>
    </div>

    <div #CARD_8 class="CARD_BORD COL_A CARD_SIZES">
        <div class="CARD_T"><div> > </div>BUENAS PRACTICAS</div>
        <div class="CARD_LIST">
            - Resposive Design, MVC, POO <span class="SLASH">_</span>
        </div>
        <div class="BORDER_L"></div> <div class="BORDER_R"></div>
    </div>

    <div #CARD_9 class="CARD_BORD COL_A CARD_SIZES">
        <div class="CARD_T"><div> > </div>CLOUD SERVICE PLATAFORMS</div>
        <div class="CARD_LIST">
            - Firebase<br/>
            - Heroku <span class="SLASH">_</span>
        </div>
        <div class="BORDER_L"></div> <div class="BORDER_R"></div>
    </div>

    <div #CARD_10 class="CARD_BORD COL_A CARD_SIZES">
        <div class="CARD_T"><div> > </div>SISTEMAS OPERATIVOS</div>
        <div class="CARD_LIST">
            - Windows <br/>
            - NGU/Linux <span class="SLASH">_</span>
        </div>
        <div class="BORDER_L"></div> <div class="BORDER_R"></div>
    </div>
</div>

</div>

<!--**********************-->

<div class="content_skills_medium">
    <!---->
    <div class="CONTEN_SK_TOP">
    
        <div #CARD_1B class="CARD_BORD COL_A CARD_SIZES">
            <div class="CARD_T"><div> > </div>FRONT END</div>
            <div class="CARD_LIST">
                - HTML5 <br/>
                - JavaScript <br/>
                - TypeScript <br/>
                - CSS3 <br/>
                - SASS <span class="SLASH">_</span>
            </div>
            <div class="CARD_T"><div> > </div>BACK END</div>
            <div class="CARD_LIST">
                - PHP <br/>
                - NodeJS <br/>
                - Python <span class="SLASH">_</span>
            </div>
            <div class="BORDER_L"></div> <div class="BORDER_R"></div>
        </div>
    
        <div #CARD_2B class="CARD_BORD COL_A CARD_SIZES">
            <div class="CARD_T"><div> > </div>FRAMEWORKS</div>
            <div class="CARD_LIST">
                - ReactJS <br/>
                - Angular <br/>
                - Django <br/>
                - Bootstrap <span class="SLASH">_</span>
            </div>
            <div class="CARD_T"><div> > </div>APLICACIONES HIBRIDAS (PWA)</div>
            <div class="CARD_LIST">
                - Ionic <br/>
                - Cordoba <span class="SLASH">_</span>
            </div>
            <div class="BORDER_L"></div> <div class="BORDER_R"></div>
        </div>
   
        <div #CARD_3B class="CARD_BORD COL_A CARD_SIZES">
            <div class="CARD_T"><div> > </div>APLICACIONES WINDOWS</div>
            <div class="CARD_LIST"> - C# <span class="SLASH">_</span> </div>
            <div class="CARD_T"><div> > </div>CMS</div>
            <div class="CARD_LIST"> - WordPress <span class="SLASH">_</span> </div>
            <div class="CARD_T"><div> > </div>CONTROL DE VERSIONES</div>
            <div class="CARD_LIST"> - Git <span class="SLASH">_</span> </div>
            <div class="BORDER_L"></div> <div class="BORDER_R"></div>
        </div>
    </div>
    
    <div class="CONTEN_SK_BOTTOM">

        <div #CARD_4B class="CARD_BORD COL_A CARD_SIZES">
            <div class="CARD_T"><div> > </div>BASE DE DATOS</div>
                <div class="CARD_LIST">
                RELACIONALES <br/>
                - Microsoft SQL Server <br/>
                - MySQL <span class="SLASH">_</span> <br/>
                        <br/>
                NO RELACIONALES <br/>
                - MongoDB <br/>
                - Firebase Realtime Database <span class="SLASH">_</span>
                </div>
                <div class="BORDER_L"></div> <div class="BORDER_R"></div>
        </div>  
        
        <div #CARD_5B class="CARD_BORD COL_A CARD_SIZES">
            <div class="CARD_T"><div> > </div>ENTORNOS DE DESARROLLO</div>
            <div class="CARD_LIST">
                - Visual Studio Code<br/>
                - Visual Studio 2019 <span class="SLASH">_</span>
            </div>
            <div class="CARD_T"><div> > </div>TESTING API REST</div>
            <div class="CARD_LIST">
                - Postman <span class="SLASH">_</span>
            </div>
            <div class="CARD_T"><div> > </div>BUENAS PRACTICAS</div>
            <div class="CARD_LIST">
                - Resposive Design, MVC, POO <span class="SLASH">_</span>
            </div>
            <div class="BORDER_L"></div> <div class="BORDER_R"></div>
        </div>
    
        <div #CARD_6B class="CARD_BORD COL_A CARD_SIZES">
            <div class="CARD_T"><div> > </div>CLOUD SERVICE PLATAFORMS</div>
            <div class="CARD_LIST">
                - Firebase<br/>
                - Heroku <span class="SLASH">_</span>
            </div>
            <div class="CARD_T"><div> > </div>SISTEMAS OPERATIVOS</div>
            <div class="CARD_LIST">
                - Windows <br/>
                - NGU/Linux <span class="SLASH">_</span>
            </div>
            <div class="BORDER_L"></div> <div class="BORDER_R"></div>
        </div>
  
    </div>
</div>


<!--**********************-->

<div class="content_skills_mobile">
    <!---->
    <div class="CONTEN_SK_TOP">
    
        <div class="CARD_BORD_HOVER COL_A_HOVER CARD_SIZES">
            <div class="CARD_T"><div> > </div>FRONT END</div>
            <div class="CARD_LIST">
                - HTML5 <br/>
                - JavaScript <br/>
                - TypeScript <br/>
                - CSS3, SASS <span class="SLASH">_</span>
            </div>
            <div class="CARD_T"><div> > </div>BACK END</div>
            <div class="CARD_LIST">
                - PHP <br/>
                - NodeJS <br/>
                - Python <span class="SLASH">_</span>
            </div>
        </div>
    
        <div class="CARD_BORD_HOVER COL_A_HOVER CARD_SIZES">
            <div class="CARD_T"><div> > </div>FRAMEWORKS</div>
            <div class="CARD_LIST">
                - ReactJS <br/>
                - Angular <br/>
                - Django <br/>
                - Bootstrap <span class="SLASH">_</span>
            </div>
            <div class="CARD_T"><div> > </div>APLICACIONES HIBRIDAS (PWA)</div>
            <div class="CARD_LIST">
                - Ionic <br/>
                - Cordoba <span class="SLASH">_</span>
            </div>
        </div>
    </div>
    
    <div class="CONTEN_SK_BOTTOM">

        <div class="CARD_BORD_HOVER COL_A_HOVER CARD_SIZES">
            <div class="CARD_T"><div> > </div>APLICACIONES WINDOWS</div>
            <div class="CARD_LIST"> - C# <span class="SLASH">_</span> </div>
            <div class="CARD_T"><div> > </div>CMS</div>
            <div class="CARD_LIST"> - WordPress <span class="SLASH">_</span> </div>
            <div class="CARD_T"><div> > </div>CONTROL DE VERSIONES</div>
            <div class="CARD_LIST"> - Git <span class="SLASH">_</span> </div>
        </div>

        <div class="CARD_BORD_HOVER COL_A_HOVER CARD_SIZES">
            <div class="CARD_T"><div> > </div>BASE DE DATOS</div>
                <div class="CARD_LIST">
                RELACIONALES <br/>
                - Microsoft SQL Server <br/>
                - MySQL <span class="SLASH">_</span> <br/>
                        <br/>
                NO RELACIONALES <br/>
                - MongoDB <br/>
                - Firebase Realtime Database<span class="SLASH">_</span>
                </div>
        </div>  
    </div>

    <div class="CONTEN_SK_BOTTOM">
        <div class="CARD_BORD_HOVER COL_A_HOVER CARD_SIZES">
            <div class="CARD_T"><div> > </div>ENTORNOS DE DESARROLLO</div>
            <div class="CARD_LIST">
                - Visual Studio Code<br/>
                - Visual Studio 2019 <span class="SLASH">_</span>
            </div>
            <div class="CARD_T"><div> > </div>TESTING API REST</div>
            <div class="CARD_LIST">
                - Postman <span class="SLASH">_</span>
            </div>
            <div class="CARD_T"><div> > </div>BUENAS PRACTICAS</div>
            <div class="CARD_LIST">
                - Resposive Design, MVC, POO<span class="SLASH">_</span>
            </div>
        </div>
    
        <div class="CARD_BORD_HOVER COL_A_HOVER CARD_SIZES">
            <div class="CARD_T"><div> > </div>CLOUD SERVICE PLATAFORMS</div>
            <div class="CARD_LIST">
                - Firebase<br/>
                - Heroku <span class="SLASH">_</span>
            </div>
            <div class="CARD_T"><div> > </div>SISTEMAS OPERATIVOS</div>
            <div class="CARD_LIST">
                - Windows <br/>
                - NGU/Linux <span class="SLASH">_</span>
            </div>
        </div>
    </div>

</div>